#root {
  margin: 0 auto;
  text-align: center;
}

.main__div1 {
  margin-top:15vh;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  color: #fff1e1;

  /* The image used */
  background-image: url("http://drive.google.com/uc?export=view&id=1qGTDDGSxbbMGMyuQSterqynxTDFm2bZA");

  /* Set a specific height */
  height: 85vh;
  width: 100vw;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position:0 15vh;
  background-repeat: no-repeat;
  background-size: cover;

  transition: filter 1.5s ease-out;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  text-align: none;
}

.main__div1:hover{
  filter: saturate(170%);
}
.navbar-custom{
  background-color: #fff1e1;
  border-bottom:#4f2034 inset 5px;
}

.navbar-custom .navbar-nav .nav-link{
  text-decoration: none;
  color: #4f2034;
  font-size: max(2vw, 20px);
  border-radius: 5px;
}

.navbar-custom .navbar-nav .nav-link:hover{
  color: #4f2034;
  text-decoration: underline wavy;
}

.noflexgrow{
  flex-grow: unset;
  width: 30vw;
}

.maxwidth{
  width: 100%;
}

.navbar{
  padding: 0%;
}
.navbar-brand{
  padding: 0;
  margin: 0;

}
.navbar-brand img {
  height: 15vh;
}
